/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

html {
  box-sizing: border-box;
  font-size: 100%; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  font-size: 1rem; }

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.8rem;
  padding-right: 0.8rem; }

.row {
  margin-left: -0.8rem;
  margin-right: -0.8rem; }

[class*="col-"] {
  padding-left: 0.8rem;
  padding-right: 0.8rem; }

@media (min-width: 61em) {
  .container {
    width: 50em; } }
@media (min-width: 70em) {
  .container {
    width: 57em; } }
@media (min-width: 78em) {
  .container {
    width: 65em; } }
@media (max-width: 20em) {
  .col-xs-offset-12 {
    margin-left: 100%; }

  .col-xs-offset-11 {
    margin-left: 91.66667%; }

  .col-xs-offset-10 {
    margin-left: 83.33333%; }

  .col-xs-offset-9 {
    margin-left: 75%; }

  .col-xs-offset-8 {
    margin-left: 66.66667%; }

  .col-xs-offset-7 {
    margin-left: 58.33333%; }

  .col-xs-offset-6 {
    margin-left: 50%; }

  .col-xs-offset-5 {
    margin-left: 41.66667%; }

  .col-xs-offset-4 {
    margin-left: 33.33333%; }

  .col-xs-offset-3 {
    margin-left: 25%; }

  .col-xs-offset-2 {
    margin-left: 16.66667%; }

  .col-xs-offset-1 {
    margin-left: 8.33333%; } }
@media (min-width: 34em) and (max-width: 61em) {
  .col-sm-offset-12 {
    margin-left: 100%; }

  .col-sm-offset-11 {
    margin-left: 91.66667%; }

  .col-sm-offset-10 {
    margin-left: 83.33333%; }

  .col-sm-offset-9 {
    margin-left: 75%; }

  .col-sm-offset-8 {
    margin-left: 66.66667%; }

  .col-sm-offset-7 {
    margin-left: 58.33333%; }

  .col-sm-offset-6 {
    margin-left: 50%; }

  .col-sm-offset-5 {
    margin-left: 41.66667%; }

  .col-sm-offset-4 {
    margin-left: 33.33333%; }

  .col-sm-offset-3 {
    margin-left: 25%; }

  .col-sm-offset-2 {
    margin-left: 16.66667%; }

  .col-sm-offset-1 {
    margin-left: 8.33333%; } }
@media (min-width: 61em) and (max-width: 70em) {
  .col-md-offset-12 {
    margin-left: 100%; }

  .col-md-offset-11 {
    margin-left: 91.66667%; }

  .col-md-offset-10 {
    margin-left: 83.33333%; }

  .col-md-offset-9 {
    margin-left: 75%; }

  .col-md-offset-8 {
    margin-left: 66.66667%; }

  .col-md-offset-7 {
    margin-left: 58.33333%; }

  .col-md-offset-6 {
    margin-left: 50%; }

  .col-md-offset-5 {
    margin-left: 41.66667%; }

  .col-md-offset-4 {
    margin-left: 33.33333%; }

  .col-md-offset-3 {
    margin-left: 25%; }

  .col-md-offset-2 {
    margin-left: 16.66667%; }

  .col-md-offset-1 {
    margin-left: 8.33333%; } }
@media (min-width: 70em) {
  .col-lg-offset-12 {
    margin-left: 100%; }

  .col-lg-offset-11 {
    margin-left: 91.66667%; }

  .col-lg-offset-10 {
    margin-left: 83.33333%; }

  .col-lg-offset-9 {
    margin-left: 75%; }

  .col-lg-offset-8 {
    margin-left: 66.66667%; }

  .col-lg-offset-7 {
    margin-left: 58.33333%; }

  .col-lg-offset-6 {
    margin-left: 50%; }

  .col-lg-offset-5 {
    margin-left: 41.66667%; }

  .col-lg-offset-4 {
    margin-left: 33.33333%; }

  .col-lg-offset-3 {
    margin-left: 25%; }

  .col-lg-offset-2 {
    margin-left: 16.66667%; }

  .col-lg-offset-1 {
    margin-left: 8.33333%; } }
.row {
  display: flex;
  flex-wrap: wrap; }

.col-xs-12 {
  flex: 0 0 100%;
  max-width: 100%; }

.col-xs-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%; }

.col-xs-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%; }

.col-xs-9 {
  flex: 0 0 75%;
  max-width: 75%; }

.col-xs-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%; }

.col-xs-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%; }

.col-xs-6 {
  flex: 0 0 50%;
  max-width: 50%; }

.col-xs-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%; }

.col-xs-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%; }

.col-xs-3 {
  flex: 0 0 25%;
  max-width: 25%; }

.col-xs-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%; }

.col-xs-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%; }

@media (min-width: 34em) {
  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%; }

  .col-sm-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }

  .col-sm-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }

  .col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%; }

  .col-sm-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }

  .col-sm-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }

  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%; }

  .col-sm-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }

  .col-sm-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }

  .col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%; }

  .col-sm-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }

  .col-sm-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; } }
@media (min-width: 61em) {
  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%; }

  .col-md-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }

  .col-md-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }

  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%; }

  .col-md-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }

  .col-md-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }

  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%; }

  .col-md-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }

  .col-md-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }

  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%; }

  .col-md-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }

  .col-md-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; } }
@media (min-width: 70em) {
  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%; }

  .col-lg-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }

  .col-lg-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }

  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%; }

  .col-lg-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }

  .col-lg-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }

  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%; }

  .col-lg-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }

  .col-lg-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }

  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%; }

  .col-lg-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }

  .col-lg-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; } }
.no-flexbox .row:before,
.no-flexbox .row:after {
  content: " ";
  display: table; }
.no-flexbox .row:after {
  clear: both; }
.no-flexbox .row {
  *zoom: 1; }
.no-flexbox .col-xs-1, .no-flexbox .col-xs2, .no-flexbox .col-xs-3, .no-flexbox .col-xs-4, .no-flexbox .col-xs-5, .no-flexbox .col-xs-6, .no-flexbox .col-xs-7, .no-flexbox .col-xs-8, .no-flexbox .col-xs-9, .no-flexbox .col-xs-10, .no-flexbox .col-xs-11, .no-flexbox .col-xs-12, .no-flexbox .col-sm-1, .no-flexbox .col-sm-2, .no-flexbox .col-sm-3, .no-flexbox .col-sm-4, .no-flexbox .col-sm-5, .no-flexbox .col-sm-6, .no-flexbox .col-sm-7, .no-flexbox .col-sm-8, .no-flexbox .col-sm-9, .no-flexbox .col-sm-10, .no-flexbox .col-sm-11, .no-flexbox .col-sm-12, .no-flexbox .col-md-1, .no-flexbox .col-md-2, .no-flexbox .col-md-3, .no-flexbox .col-md-4, .no-flexbox .col-md-5, .no-flexbox .col-md-6, .no-flexbox .col-md-7, .no-flexbox .col-md-8, .no-flexbox .col-md-9, .no-flexbox .col-md-10, .no-flexbox .col-md-11, .no-flexbox .col-md-12, .no-flexbox .col-lg-1, .no-flexbox .col-lg-2, .no-flexbox .col-lg-3, .no-flexbox .col-lg-4, .no-flexbox .col-lg-5, .no-flexbox .col-lg-6, .no-flexbox .col-lg-7, .no-flexbox .col-lg-8, .no-flexbox .col-lg-9, .no-flexbox .col-lg-10, .no-flexbox .col-lg-11, .no-flexbox .col-lg-12 {
  float: left;
  /* for the empty columns to not collapse */
  min-height: 1px;
  padding: 0 0.8rem; }
.no-flexbox .col-xs-12 {
  width: 100%; }
.no-flexbox .col-xs-11 {
  width: 91.66667%; }
.no-flexbox .col-xs-10 {
  width: 83.33333%; }
.no-flexbox .col-xs-9 {
  width: 75%; }
.no-flexbox .col-xs-8 {
  width: 66.66667%; }
.no-flexbox .col-xs-7 {
  width: 58.33333%; }
.no-flexbox .col-xs-6 {
  width: 50%; }
.no-flexbox .col-xs-5 {
  width: 41.66667%; }
.no-flexbox .col-xs-4 {
  width: 33.33333%; }
.no-flexbox .col-xs-3 {
  width: 25%; }
.no-flexbox .col-xs-2 {
  width: 16.66667%; }
.no-flexbox .col-xs-1 {
  width: 8.33333%; }
@media (min-width: 34em) {
  .no-flexbox .col-sm-12 {
    width: 100%; }
  .no-flexbox .col-sm-11 {
    width: 91.66667%; }
  .no-flexbox .col-sm-10 {
    width: 83.33333%; }
  .no-flexbox .col-sm-9 {
    width: 75%; }
  .no-flexbox .col-sm-8 {
    width: 66.66667%; }
  .no-flexbox .col-sm-7 {
    width: 58.33333%; }
  .no-flexbox .col-sm-6 {
    width: 50%; }
  .no-flexbox .col-sm-5 {
    width: 41.66667%; }
  .no-flexbox .col-sm-4 {
    width: 33.33333%; }
  .no-flexbox .col-sm-3 {
    width: 25%; }
  .no-flexbox .col-sm-2 {
    width: 16.66667%; }
  .no-flexbox .col-sm-1 {
    width: 8.33333%; } }
@media (min-width: 61em) {
  .no-flexbox .col-md-12 {
    width: 100%; }
  .no-flexbox .col-md-11 {
    width: 91.66667%; }
  .no-flexbox .col-md-10 {
    width: 83.33333%; }
  .no-flexbox .col-md-9 {
    width: 75%; }
  .no-flexbox .col-md-8 {
    width: 66.66667%; }
  .no-flexbox .col-md-7 {
    width: 58.33333%; }
  .no-flexbox .col-md-6 {
    width: 50%; }
  .no-flexbox .col-md-5 {
    width: 41.66667%; }
  .no-flexbox .col-md-4 {
    width: 33.33333%; }
  .no-flexbox .col-md-3 {
    width: 25%; }
  .no-flexbox .col-md-2 {
    width: 16.66667%; }
  .no-flexbox .col-md-1 {
    width: 8.33333%; } }
@media (min-width: 70em) {
  .no-flexbox .col-lg-12 {
    width: 100%; }
  .no-flexbox .col-lg-11 {
    width: 91.66667%; }
  .no-flexbox .col-lg-10 {
    width: 83.33333%; }
  .no-flexbox .col-lg-9 {
    width: 75%; }
  .no-flexbox .col-lg-8 {
    width: 66.66667%; }
  .no-flexbox .col-lg-7 {
    width: 58.33333%; }
  .no-flexbox .col-lg-6 {
    width: 50%; }
  .no-flexbox .col-lg-5 {
    width: 41.66667%; }
  .no-flexbox .col-lg-4 {
    width: 33.33333%; }
  .no-flexbox .col-lg-3 {
    width: 25%; }
  .no-flexbox .col-lg-2 {
    width: 16.66667%; }
  .no-flexbox .col-lg-1 {
    width: 8.33333%; } }

/* DESKTOP MENU START */
.navbar {
  z-index: 20; }
  .navbar.fixed {
    position: fixed;
    width: 100%; }

.nuvomenu {
  position: relative; }

.navbar {
  background-color: #2768B7;
  color: #fff; }

.logo {
  float: left;
  margin: 0;
  height: 4rem; }
  .logo img {
    padding-top: .2rem;
    padding-bottom: .05rem;
    height: 3.75rem; }
  .logo a {
    color: #fff; }
    .logo a:hover {
      color: #fff; }

.menu {
  height: 2rem;
  width: 2.4rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 200;
  padding: .34rem;
  cursor: pointer; }

.menu div {
  background-color: #fff;
  border-radius: 1px;
  height: 4px;
  margin-bottom: 3px; }

.dropdown > a::after {
  display: inline-block;
  content: " ";
  width: 0;
  height: 0;
  border-left: .4rem solid transparent;
  border-right: .4rem solid transparent;
  border-top: .4rem solid #fff;
  margin-bottom: .15rem;
  margin-left: .2rem;
  cursor: pointer;
  transition: all 200ms ease-in-out 0s; }
.dropdown:hover a::after {
  border-top: 0.4rem solid #2F3238; }

.nuvomenu ul {
  position: relative;
  overflow: hidden;
  max-height: 0;
  width: 100%;
  padding: 0;
  margin: 0;
  transition: all 200ms ease-in-out 0s;
  display: block; }
  .nuvomenu ul.open {
    max-height: 62rem; }
    .nuvomenu ul.open li {
      max-height: 62rem;
      transition: all 200ms ease-in-out 0s; }
  .nuvomenu ul li {
    max-height: 0;
    transition: all 200ms ease-in-out 0s;
    background-color: #2768B7;
    text-align: center; }
    .nuvomenu ul li a {
      text-transform: uppercase;
      display: block;
      width: 100%;
      padding-top: 1rem;
      padding-bottom: 1rem;
      color: #fff;
      cursor: pointer; }
      .nuvomenu ul li a:hover {
        color: #2F3238; }

@media (min-width: 61em) {
  .menu {
    display: none; }

  .nuvomenu ul {
    overflow: visible;
    float: right;
    width: auto;
    line-height: 4rem; }
    .nuvomenu ul li {
      line-height: 4rem;
      display: inline-block;
      text-align: left; }
      .nuvomenu ul li a {
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 1rem;
        padding-right: 1rem; }
    .nuvomenu ul.open {
      max-height: 0; }

  .dropdown {
    position: relative; }
    .dropdown ul {
      right: 0;
      max-height: 0;
      overflow: hidden;
      position: absolute; }
      .dropdown ul li {
        display: block;
        width: 150px; }
    .dropdown ul.open {
      max-height: 62rem;
      overflow: visible; } }
/* To prevent zoom-in on iPhone when clicking on form */
input[type='text'],
input[type='email'],
input[type="password"],
select,
textarea {
  font-size: 1rem !important; }

textarea {
  resize: vertical; }

input[type="search"] {
  color: #777;
  background-color: #fff;
  font-weight: 600;
  border: 0;
  min-height: 2rem;
  width: 20rem;
  border-radius: 3px;
  padding: .5rem 1rem; }

input[type=submit], #submit {
  text-transform: uppercase;
  transition: background-color 200ms ease-in-out 0s;
  text-align: center;
  border-radius: .2rem;
  border: none;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 1rem;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer; }
  input[type=submit]:hover, #submit:hover {
    background-color: #fff;
    color: #2768B7; }

input[type="text"], input[type="password"], input[type="email"], input[type="number"], select, textarea, .input-like {
  color: #777;
  background-color: #FFF;
  font-weight: 400;
  display: block;
  width: 100%;
  min-height: 2.8rem;
  background: none repeat scroll 0 0 #27292e;
  border: none;
  border-radius: 0px;
  box-shadow: none;
  height: auto;
  margin: 0;
  padding: 15px;
  resize: none;
  margin-bottom: .3rem; }

.form-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-top: 1rem;
  padding-bottom: .75rem;
  border-radius: 3px;
  background-color: #f3f3f3;
  color: #777;
  cursor: pointer;
  display: block;
  width: 100%;
  border: 3px solid #dadada;
  margin-bottom: .75rem; }

input[type="file"] {
  display: none; }

.upload-btn, .js-form-item-field-forfaits-image-0 .form-required {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: background-color 200ms ease-in-out 0s;
  padding: .5rem;
  border-radius: 0;
  background-color: #2F3238;
  color: #fff;
  cursor: pointer;
  display: block;
  width: 5rem; }
  .upload-btn:hover, .js-form-item-field-forfaits-image-0 .form-required:hover {
    background-color: #2768B7;
    color: #fff; }

.form-group {
  padding-bottom: .3rem;
  position: relative; }

.form-group.search-box {
  position: relative;
  min-height: 2.8rem; }
  .form-group.search-box input[type=text] {
    border: 3px solid #dadada; }
  .form-group.search-box input[type=submit] {
    position: absolute;
    right: 0;
    top: 0;
    min-height: 2.8rem;
    border-top: 3px solid #dadada;
    border-right: 3px solid #dadada;
    border-bottom: 3px solid #dadada; }

.search-group input[type="text"] {
  position: absolute;
  right: 0;
  top: 0;
  width: 50%; }

.input-like {
  background-color: #ccc;
  line-height: 1.9rem;
  color: #2F3238; }

/*CLEARFIX*/
/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1; }

li {
  list-style: none; }

a {
  text-decoration: none;
  color: #2768B7; }
  a:hover {
    color: #2F3238; }

.hidden {
  display: none; }

.display {
  display: block; }

.img-responsive {
  width: 100%; }

.text-center {
  text-align: center; }

.circle {
  border-radius: 50%; }

.flex-container {
  display: flex; }

.flex-center-hv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

.center-hv {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center; }

.padding-box {
  padding: 0.8rem;
  margin-bottom: 0.8rem;
  border-radius: 3px; }

.box {
  margin-bottom: 1.6rem;
  border-radius: 3px; }

.button {
  display: inline-block;
  padding: .5rem 1rem;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: 600;
  background-color: #2768B7;
  transition: all 200ms ease-in-out 0s;
  color: #fff;
  text-align: center;
  cursor: pointer;
  border: none; }
  .button a {
    color: #fff; }
  .button:hover {
    background-color: #2F3238;
    color: #fff; }

.button-like {
  padding: .5rem 1rem;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: 600;
  background-color: #fff;
  color: #000;
  text-align: center;
  margin: .3rem 0;
  border: 3px solid #dadada; }

.dark {
  background-color: #2F3238;
  color: #fff; }
  .dark h4, .dark p {
    color: #fff; }
  .dark a {
    color: #dadada; }
    .dark a:hover {
      color: #2768B7; }
  .dark .button {
    background-color: #2768B7;
    color: #dadada; }
    .dark .button:hover {
      background-color: #1e508d;
      color: #fff; }

.mask, .dark-mask {
  background: rgba(0, 0, 0, 0.1) url("../img/overlays/03.png") repeat scroll 0px 0px; }

.dark-mask {
  opacity: 0.7 !important;
  position: absolute;
  width: 100%;
  height: 100%; }

.button-greyed-out {
  display: inline-block;
  padding: .5rem 1.5rem;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: 600;
  background-color: #ccc;
  color: #2F3238;
  text-align: center;
  cursor: default; }

/*FLOAT-GROUP CLEARFIX START*/
.float-group:before, .float-group:after {
  content: " ";
  display: table; }

.float-group:after {
  clear: both; }

.float-group {
  *zoom: 1; }

.float-group .left {
  float: left; }
.float-group .right {
  float: right; }

/*FLOAT-GROUP CLEARFIX END*/
.alert {
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 0.8rem;
  background-color: #fcfcfc;
  border-radius: 3px;
  position: relative;
  cursor: pointer;
  padding-right: 2rem; }
  .alert p {
    margin: 0;
    font-size: 1rem;
    color: #2F3238; }
  .alert.error {
    color: red;
    background-color: #E6B0AA; }
    .alert.error:hover {
      background-color: rgba(230, 176, 170, 0.8); }
  .alert.warning {
    color: #CA6F1E;
    background-color: #F9E79F; }
    .alert.warning:hover {
      background-color: rgba(249, 231, 159, 0.8); }
  .alert.success {
    color: green;
    background-color: #ABEBC6; }
    .alert.success:hover {
      background-color: rgba(171, 235, 198, 0.8); }
  .alert::after {
    content: "x";
    position: absolute;
    top: 0.8rem;
    right: 0.8rem;
    cursor: pointer;
    font-weight: 400;
    display: inline-block;
    font-size: 1rem;
    line-height: 1rem;
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 50%;
    text-align: center;
    opacity: 1; }
  .alert:hover::after {
    background-color: #fff;
    opacity: 1; }

.error {
  color: red; }

.warning {
  color: #CA6F1E; }

.padding {
  padding: 0.8rem; }

.padding-left {
  padding-left: 0.8rem; }

.padding-right {
  padding-right: 0.8rem; }

.padding-top {
  padding-top: 0.8rem; }

.padding-bottom {
  padding-bottom: 0.8rem; }

.margin-left {
  margin-left: 0.8rem; }

.margin-right {
  margin-right: 0.8rem; }

.margin-top {
  margin-top: 0.8rem; }

.margin-bottom {
  margin-bottom: 0.8rem; }

@media (max-width: 20em) {
  .hidden-xs {
    display: none; } }
@media (min-width: 34em) and (max-width: 61em) {
  .hidden-sm {
    display: none; } }
@media (min-width: 61em) and (max-width: 70em) {
  .hidden-md {
    display: none; } }
@media (min-width: 70em) {
  .hidden-lg {
    display: none; } }
/* SLIDER START */
html, body {
  overflow-x: hidden; }

.nuvoslider {
  position: relative;
  overflow: hidden; }

.slide img {
  width: 100vw;
  height: auto;
  min-width: 1300px; }

.slide {
  opacity: 0;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%);
  -webkit-transition: opacity 2.5s ease-in-out;
  -moz-transition: opacity 2.5s ease-in-out;
  -o-transition: opacity 2.5s ease-in-out;
  transition: opacity 2.5s ease-in-out; }

.first-active {
  z-index: 10;
  opacity: 1;
  -webkit-transition: opacity 0s ease-in-out;
  -moz-transition: opacity 0s ease-in-out;
  -o-transition: opacity 0s ease-in-out;
  transition: opacity 0s ease-in-out; }

.active {
  z-index: 10;
  opacity: 1;
  -webkit-transition: opacity 2.5s ease-in-out;
  -moz-transition: opacity 2.5s ease-in-out;
  -o-transition: opacity 2.5s ease-in-out;
  transition: opacity 2.5s ease-in-out; }

.slide-overlay {
  opacity: 0;
  width: 100vw;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  -webkit-transition: opacity 2.5s ease-in-out;
  -moz-transition: opacity 2.5s ease-in-out;
  -o-transition: opacity 2.5s ease-in-out;
  transition: opacity 2.5s ease-in-out; }

.slide-overlay h1 {
  color: #fff;
  margin: 0; }

.first-active .slide-overlay, .active .slide-overlay {
  opacity: 1; }

.slider-control {
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  cursor: pointer;
  z-index: 80;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease-in-out;
  -moz-transition: opacity 0.6s ease-in-out;
  -o-transition: opacity 0.6s ease-in-out;
  transition: opacity 0.6s ease-in-out; }

.slider-previous {
  margin-left: 25px;
  -webkit-transform: translateY(-50%) rotate(135deg);
  -ms-transform: translateY(-50%) rotate(135deg);
  transform: translateY(-50%) rotate(135deg);
  left: 50px; }

.slider-next {
  margin-right: 25px;
  -webkit-transform: translateY(-50%) rotate(315deg);
  -ms-transform: translateY(-50%) rotate(315deg);
  transform: translateY(-50%) rotate(315deg);
  right: 50px; }

.nuvoslider:hover .slider-previous, .nuvoslider:hover .slider-next {
  opacity: 1;
  -webkit-transition: opacity 0.6s ease-in-out;
  -moz-transition: opacity 0.6s ease-in-out;
  -o-transition: opacity 0.6s ease-in-out;
  transition: opacity 0.6s ease-in-out; }

.slider-previous:hover, .slider-next:hover {
  border-right: 2px solid #000;
  border-bottom: 2px solid #000; }

/* SLIDER END */
/* SLIDER OPTIONAL START */
.nuvoslider .container {
  color: #fff; }

/* YOU MAY REMOVE THESE LINES */
body {
  margin: 0; }

/* YOU MAY REMOVE THESE LINES */
/* SLIDER OPTIONAL END */
#presentation {
  margin-top: 4rem; }

/*# sourceMappingURL=app.css.map */
