@import 'theme';
/* To prevent zoom-in on iPhone when clicking on form */
input[type='text'],
input[type='email'],
input[type="password"],
select,
textarea {
  font-size: 1rem !important;
}

textarea {
  resize: vertical;
}

input[type="search"] {
  color: #777;
  background-color: #fff;
  font-weight: 600;
  border: 0;
  min-height: 2rem;
  width: 20rem;
  border-radius: $border-radius;
  padding: .5rem 1rem;
}

input[type=submit], #submit {
  text-transform: uppercase;
  transition: background-color 200ms ease-in-out 0s;
  text-align: center;
  border-radius: .2rem;
  border: none;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 1rem;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  &:hover {
    background-color: #fff;
    color: $primary-color;
  }
}

input[type="text"], input[type="password"], input[type="email"], input[type="number"], select, textarea, .input-like {
  color: #777;
  background-color: #FFF;
  font-weight: 400;
  display: block;
  width: 100%;
  min-height: 2.8rem;
  background: none repeat scroll 0 0 rgba(39,41,46,1);
  border: none;
  border-radius: 0px;
  box-shadow: none;
  height: auto;
  margin: 0;
  padding: 15px;
  resize: none;
  margin-bottom: .3rem;
}

.form-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-top: 1rem;
  padding-bottom: .75rem;
  border-radius: $border-radius;
  background-color: #f3f3f3;
  color: #777;
  cursor: pointer;
  display: block;
  width: 100%;
  border: 3px solid $medium;
  margin-bottom: .75rem;
}

input[type="file"] {
  display: none;
}

.upload-btn, .js-form-item-field-forfaits-image-0 .form-required {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: background-color 200ms ease-in-out 0s;
  padding: .5rem;
  border-radius: 0;
  background-color: $dark;
  color: #fff;
  cursor: pointer;
  display: block;
  width: 5rem;
  &:hover {
    background-color: $primary-color;
    color: #fff;
  }
}

.form-group {
  padding-bottom: .3rem;
  position: relative;
}

.form-group.search-box {
  position: relative;
  min-height: 2.8rem;
  input[type=text] {
    border: 3px solid $medium;
  }
  input[type=submit] {
    position: absolute;
    right: 0;
    top: 0;
    min-height: 2.8rem;
    border-top: 3px solid $medium;
    border-right: 3px solid $medium;
    border-bottom: 3px solid $medium;
  }
}

.search-group input[type="text"] {
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
}

.input-like {
  background-color: #ccc;
  line-height: 1.9rem;
  color: $dark;
}
