@import 'theme';

body {
  position: relative;
}

.modal-open {
  overflow: hidden;
  position: fixed;
}

.modal {
  display:none;
  transition: opacity 300ms ease-in-out 0ms;
  z-index: 300;
  background: none repeat scroll 0% 0% #F8F8F8;
  width: 100%;
  height: 100%;
  min-height: 100%;
  position: fixed;
  top: 0;
  overflow-y: auto;
  .container {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .view {
    position: fixed;
    right: 5rem;
    top: 2rem;
    cursor: pointer;
  }
  .close-button {
    position: fixed;
    right: 2.2rem;
    top: 2rem;
    cursor: pointer;
  }
  h2 {
    border-bottom: 1px solid #eee;
    padding-bottom: 1rem;
    margin-bottom: 0.8rem;
  }
  p {
    margin: 0;
  }
  .btn-default {
    margin-bottom: 2rem;
  }
  &.open {
    display: block;
  }
  .float-group {
    margin-left: -$gutter;
    margin-right: -$gutter;
  }

}
