@import 'theme';
/* DESKTOP MENU START */
$menu-height: 4rem;

.navbar {
  z-index: 20;
  &.fixed {
    position: fixed;
    width: 100%;
  }
}

.nuvomenu {
  position: relative;
}

.navbar {
  background-color: $primary-color;
  color: #fff;
  //-webkit-box-shadow: 0 13px 30px -3px rgba(0, 0, 0, 0.75);
  //-moz-box-shadow: 0 13px 30px -3px rgba(0, 0, 0, 0.75);
  //box-shadow: 0 13px 30px -3px rgba(0, 0, 0, 0.75);
}

.logo {
  float: left;
  margin: 0;
  height: $menu-height;
  img {
    padding-top: .2rem;
    padding-bottom: .05rem;
    height: 3.75rem;
  }
  a {
    color: #fff;
    &:hover {
      color: #fff;
    }
  }
}

.menu {
  height: 2rem;
  width: 2.4rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 200;
  padding: .34rem;
  cursor: pointer;
}

.menu div {
  background-color: #fff;
  border-radius: 1px;
  height: 4px;
  margin-bottom: 3px;
}

.dropdown {
  & > a::after {
    display: inline-block;
    content: " ";
    width: 0;
    height: 0;
    border-left: .4rem solid transparent;
    border-right: .4rem solid transparent;
    border-top: .4rem solid #fff;
    margin-bottom: .15rem;
    margin-left: .2rem;
    cursor: pointer;
    transition: all 200ms ease-in-out 0s;
  }
  &:hover {
    a::after {
      border-top: .4rem solid $dark;
    }
  }
}

.nuvomenu ul {
  position: relative;
  overflow: hidden;
  max-height: 0;
  width: 100%;
  padding: 0;
  margin: 0;
  transition: all 200ms ease-in-out 0s;
  display: block;
  &.open {
    max-height: 62rem;
    li {
      max-height: 62rem; //to remove the collapsing effect when resizing browser to mobile
      transition: all 200ms ease-in-out 0s;
    }
  }
  li {
    max-height: 0; //to remove the collapsing effect when resizing browser to mobile
    transition: all 200ms ease-in-out 0s;
    background-color: $primary-color;
    text-align: center;
    a {
      text-transform: uppercase;
      display: block;
      width: 100%;
      padding-top: 1rem;
      padding-bottom: 1rem;
      color: #fff;
      cursor: pointer;
      &:hover {
        color: $dark;
      }
    }
  }
}

@media (min-width: $size-md) {

  .menu {
    display: none;
  }

  .nuvomenu ul {
    overflow: visible; // undo overflow hidden form mobile version above.
    float: right;
    width: auto;
    line-height: $menu-height;
    li {
      line-height: $menu-height;
      display: inline-block;
      text-align: left;
      a {
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 1rem;
        padding-right: 1rem;
      }
    }
    &.open {
      max-height: 0; //to remove the bug when menu is dropped down and then browser is resized.
    }
  }

  .dropdown {
    position: relative;
    ul {
      right: 0;
      max-height: 0;
      overflow: hidden;
      position: absolute; // to align the dropdown menu with the parent link.
      li {
        display: block;
        width: 150px;
      }
    }
    ul.open {
      max-height: 62rem;
      overflow: visible;
    }
  }

}

