$flex-enabled: true; // switch $flex-enabled to false to switch grid from flex to float.
$float-backup-enabled: true; //  switch to false to disable the float (.no-flexbox) backup (It will remove over 100 lines of css but you won't have a float backup is flex is not compatible).
$ie11-compatible: true; // $ie11-compatible adds a max-width to fix a flex bug on ie11.

$gutter: .8rem;

$size-xs: 20em;
$size-sm: 34em;
$size-md-container: 50em;
$size-md: 61em;
$size-lg-container: 57em;
$size-lg: 70em;
$size-xl-container: 65em;
$size-xl: 78em;

$number-of-columns: 12;

//GRID FOUNDATION START
html {
  box-sizing: border-box;
  font-size: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: 1rem;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: $gutter;
  padding-right: $gutter;
}

.row {
  margin-left: -$gutter;
  margin-right: -$gutter;
}

[class*="col-"] {
  padding-left: $gutter;
  padding-right: $gutter;
}

@media (min-width: $size-md) {
  .container {
    width: $size-md-container;
  }
}

@media (min-width: $size-lg) {
  .container {
    width: $size-lg-container;
  }
}

@media (min-width: $size-xl) {
  .container {
    width: $size-xl-container;
  }
}

@function col($cols) {
  @return percentage(1/$number-of-columns) * $cols;
}

@mixin columns-flex($cols) {
  @if $flex-enabled {
    flex: 0 0 col($cols);
    @if $ie11-compatible {
      max-width: col($cols);
    }
  } @else {
    width: col($cols);
  }
}

@mixin columns-float($cols) {
  width: col($cols);
}

@media (max-width: $size-xs) {
  @for $i from $number-of-columns through 1 {
    .col-xs-offset-#{$i} {
      margin-left: col($i);
    }
  }
}

@media (min-width: $size-sm) and (max-width: $size-md) {
  @for $i from $number-of-columns through 1 {
    .col-sm-offset-#{$i} {
      margin-left: col($i);
    }
  }
}

@media (min-width: $size-md) and (max-width: $size-lg) {
  @for $i from $number-of-columns through 1 {
    .col-md-offset-#{$i} {
      margin-left: col($i);
    }
  }
}

@media (min-width: $size-lg) {
  @for $i from $number-of-columns through 1 {
    .col-lg-offset-#{$i} {
      margin-left: col($i);
    }
  }
}
//GRID FOUNDATION END

//FLEXBOX SPECIFIC START
@if $flex-enabled {
  // IF FLEXBOX IS ENABLED AND SUPPORTED BY BROWSER THEN APPLY FLEXBOX.
  .row {
    display: flex;
    flex-wrap: wrap;
  }

  @for $i from $number-of-columns through 1 {
    .col-xs-#{$i} {
      @include columns-flex($i);
    }
  }

  @media (min-width: $size-sm) {
    @for $i from $number-of-columns through 1 {
      .col-sm-#{$i} {
        @include columns-flex($i);
      }
    }
  }

  @media (min-width: $size-md) {
    @for $i from $number-of-columns through 1 {
      .col-md-#{$i} {
        @include columns-flex($i);
      }
    }
  }

  @media (min-width: $size-lg) {
    @for $i from $number-of-columns through 1 {
      .col-lg-#{$i} {
        @include columns-flex($i);
      }
    }
  }
}
//FLEXBOX SPECIFIC END

@else

//FLOAT SPECIFIC START
{
  .row:before,
  .row:after {
    content: " ";
    display: table;
  }

  .row:after {
    clear: both;
  }

  .row {
    *zoom: 1;
  }

  .col-xs-1, .col-xs2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
    /* for the empty columns to not collapse */
    min-height: 1px;
    padding: 0 $gutter;
  }

  @for $i from $number-of-columns through 1 {
    .col-xs-#{$i} {
      @include columns-float($i);
    }
  }

  @media (min-width: $size-sm) {
    @for $i from $number-of-columns through 1 {
      .col-sm-#{$i} {
        @include columns-float($i);
      }
    }
  }

  @media (min-width: $size-md) {
    @for $i from $number-of-columns through 1 {
      .col-md-#{$i} {
        @include columns-float($i);
      }
    }
  }

  @media (min-width: $size-lg) {
    @for $i from $number-of-columns through 1 {
      .col-lg-#{$i} {
        @include columns-float($i);
      }
    }
  }
}
//FLOAT SPECIFIC END

//FLOAT BACKUP START
@if $float-backup-enabled {
  .no-flexbox {
    .row:before,
    .row:after {
      content: " ";
      display: table;
    }

    .row:after {
      clear: both;
    }

    .row {
      *zoom: 1;
    }

    .col-xs-1, .col-xs2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
      float: left;
      /* for the empty columns to not collapse */
      min-height: 1px;
      padding: 0 $gutter;
    }

    @for $i from $number-of-columns through 1 {
      .col-xs-#{$i} {
        @include columns-float($i);
      }
    }

    @media (min-width: $size-sm) {
      @for $i from $number-of-columns through 1 {
        .col-sm-#{$i} {
          @include columns-float($i);
        }
      }
    }

    @media (min-width: $size-md) {
      @for $i from $number-of-columns through 1 {
        .col-md-#{$i} {
          @include columns-float($i);
        }
      }
    }

    @media (min-width: $size-lg) {
      @for $i from $number-of-columns through 1 {
        .col-lg-#{$i} {
          @include columns-float($i);
        }
      }
    }
  }
}
//FLOAT BACKUP END









