
.scroll {
  width: auto;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.nuvo-table {
  background: $super-light;
  color: $dark;
  border: 3px solid $medium;
  border-radius: $border-radius;
  width: 100%;
  min-width: 702px;
  img {
    width: 50px;
    height: auto;
  }
  h3 {
    margin-bottom: 0 !important;
    line-height: 2rem;
  }
  h5 {
    margin: .5rem;
  }
  p {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 2rem;
  }
  .input-sm {
    margin-top: 0;
    width: 50px;
  }
  .form-group {
    padding-bottom: 0;
  }
  .circle {
    width: 50px !important;
  }

  tr {
    border-bottom: 3px solid $medium;
    &:last-child {
      border-bottom: 0 solid $medium;
    }
  }

  td {
    h5 {
      display: inline;
    }
  }

  td:before {
    display: none;
  }
  th, td {
    border-right: 3px solid #dadada;
    text-align: left;
    &:last-child {
      border-right: none;
    }
    display: table-cell;
    padding: .25em .5em;
  }
  .inactive {
    color: #9b9b9b;
    img {
      opacity: 0.3;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
      filter: gray;
      filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
    }
  }
}