/* SLIDER START */

html, body {
  overflow-x: hidden;
}

.nuvoslider {
  position: relative;
  overflow: hidden;
}

.slide img{
  width: 100vw;
  height: auto;
  min-width: 1300px;
}

.slide {
  opacity: 0;
  position:absolute;
  left:50%;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform:translate(-50%);
  -webkit-transition: opacity 2.5s ease-in-out;
  -moz-transition: opacity 2.5s ease-in-out;
  -o-transition: opacity 2.5s ease-in-out;
  transition: opacity 2.5s ease-in-out;
}

.first-active {
  z-index: 10;
  opacity: 1;
  -webkit-transition: opacity 0s ease-in-out;
  -moz-transition: opacity 0s ease-in-out;
  -o-transition: opacity 0s ease-in-out;
  transition: opacity 0s ease-in-out;
}

.active {
  z-index: 10;
  opacity: 1;
  -webkit-transition: opacity 2.5s ease-in-out;
  -moz-transition: opacity 2.5s ease-in-out;
  -o-transition: opacity 2.5s ease-in-out;
  transition: opacity 2.5s ease-in-out;
}

.slide-overlay {
  opacity: 0;
  width: 100vw;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  -webkit-transition: opacity 2.5s ease-in-out;
  -moz-transition: opacity 2.5s ease-in-out;
  -o-transition: opacity 2.5s ease-in-out;
  transition: opacity 2.5s ease-in-out;
}

.slide-overlay h1{
  color: #fff;
  margin: 0;
}

.first-active .slide-overlay, .active .slide-overlay{
  opacity: 1;
}

.slider-control {
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  cursor: pointer;
  z-index: 80;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease-in-out;
  -moz-transition: opacity 0.6s ease-in-out;
  -o-transition: opacity 0.6s ease-in-out;
  transition: opacity 0.6s ease-in-out;
}

.slider-previous {
  margin-left: 25px;
  -webkit-transform: translateY(-50%) rotate(135deg);
  -ms-transform: translateY(-50%) rotate(135deg);
  transform: translateY(-50%) rotate(135deg);
  left: 50px;
}

.slider-next {
  margin-right: 25px;
  -webkit-transform: translateY(-50%) rotate(315deg);
  -ms-transform: translateY(-50%) rotate(315deg);
  transform: translateY(-50%) rotate(315deg);
  right: 50px;
}

.nuvoslider:hover .slider-previous, .nuvoslider:hover .slider-next  {
  opacity: 1;
  -webkit-transition: opacity 0.6s ease-in-out;
  -moz-transition: opacity 0.6s ease-in-out;
  -o-transition: opacity 0.6s ease-in-out;
  transition: opacity 0.6s ease-in-out;
}

.slider-previous:hover, .slider-next:hover {
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
}

/* SLIDER END */

/* SLIDER OPTIONAL START */
.nuvoslider .container {
  color: #fff;
}

/* YOU MAY REMOVE THESE LINES */
body {
  margin: 0;
}
/* YOU MAY REMOVE THESE LINES */

/* SLIDER OPTIONAL END */
