/*CLEARFIX*/
/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: $primary-color;
  &:hover {
    color: $dark;
  }
}

.hidden {
 display:none;
}

.display {
  display: block;
}

.img-responsive {
  width: 100%;
}


.text-center {
  text-align: center;
}

.circle {
  border-radius: 50%;
}

.flex-container {
  display: flex;
}

.flex-center-hv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.center-hv {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.padding-box {
  padding: $gutter;
  margin-bottom: $gutter;
  border-radius: $border-radius;
}

.box {
  margin-bottom: $gutter * 2;
  border-radius: $border-radius;
}

.button {
  display: inline-block;
  padding: .5rem 1rem;
  border-radius: $border-radius;
  text-transform: uppercase;
  font-weight: 600;
  background-color: $primary-color;
  transition: all 200ms ease-in-out 0s;
  color: #fff;
  text-align: center;
  cursor: pointer;
  border: none;
  a {
    color: #fff;
  }
  &:hover {
    background-color: $dark;
    color: #fff;
  }
}

.button-like {
  padding: .5rem 1rem;
  border-radius: $border-radius;
  text-transform: uppercase;
  font-weight: 600;
  background-color: #fff;
  color: #000;
  text-align: center;
  margin: .3rem 0;
  border: 3px solid #dadada;
}

.dark {
  background-color: $dark;
  color: #fff;
  h4, p {
    color: #fff;
  }
  a {
    color: #dadada;
    &:hover {
      color: $primary-color;
    }
  }
  .button {
    background-color: $primary-color;
    color: #dadada;
    &:hover {
      background-color: $primary-dark;
      color: #fff;
    }
  }
}

.mask {
  background: rgba(0, 0, 0, 0.1) url("../img/overlays/03.png") repeat scroll 0px 0px;
}

.dark-mask {
  @extend .mask;
  opacity: 0.7 !important;
  position: absolute;
  width: 100%;
  height: 100%;
}

.button-greyed-out {
  display: inline-block;
  padding: .5rem 1.5rem;
  border-radius: $border-radius;
  text-transform: uppercase;
  font-weight: 600;
  background-color: #ccc;
  color: $dark;
  text-align: center;
  cursor: default;
}


/*FLOAT-GROUP CLEARFIX START*/
.float-group:before, .float-group:after {
  content: " ";
  display: table;
}

.float-group:after {
  clear: both;
}

.float-group {
  *zoom: 1;
}

.float-group {
  .left {
    float: left;
  }
  .right {
    float: right;
  }
}
/*FLOAT-GROUP CLEARFIX END*/

.alert {
  width: 100%;
  padding: $gutter;
  margin-bottom: $gutter;
  background-color: $light;
  border-radius: $border-radius;
  position: relative;
  cursor: pointer;
  padding-right: 2rem;
  p {
    margin: 0;
    font-size: 1rem;
    color: $dark;
  }
  &.error {
    color: red;
    background-color: #E6B0AA;
    &:hover {
      background-color: transparentize(#E6B0AA, 0.2);
    }
  }
  &.warning {
    color: #CA6F1E;
    background-color: #F9E79F;
    &:hover {
      background-color: transparentize(#F9E79F, 0.2);
    }
  }
  &.success {
    color: green;
    background-color: #ABEBC6;
    &:hover {
      background-color: transparentize(#ABEBC6, 0.2);
    }
  }
  &::after {
    content: "x";
    position: absolute;
    top: $gutter;
    right: $gutter;
    cursor: pointer;
    font-weight: 400;
    display: inline-block;
    font-size: 1rem;
    line-height: 1rem;
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 50%;
    text-align: center;
    opacity: 1;
  }
  &:hover {
    &::after {
      background-color: #fff;
      opacity: 1;
    }
  }
}

.error {
  color: red;
}

.warning {
  color: #CA6F1E;
}

.padding {
  padding: $gutter;
}

.padding-left {
  padding-left: $gutter;
}

.padding-right {
  padding-right: $gutter;
}

.padding-top {
  padding-top: $gutter;
}

.padding-bottom {
  padding-bottom: $gutter;
}

.margin-left {
  margin-left: $gutter;
}

.margin-right {
  margin-right: $gutter;
}

.margin-top {
  margin-top: $gutter;
}

.margin-bottom {
  margin-bottom: $gutter;
}

@media (max-width: $size-xs) {
  .hidden-xs{
    display: none;
  }
}

@media (min-width: $size-sm) and (max-width: $size-md) {
  .hidden-sm{
    display: none;
  }
}

@media (min-width: $size-md) and (max-width: $size-lg) {
  .hidden-md{
    display: none;
  }
}

@media (min-width: $size-lg) {
  .hidden-lg{
    display: none;
  }
}