$border-radius: 3px;
$primary-color: #2768B7;
$primary-dark: darken($primary-color, 10%);
$primary-light: lighten($primary-color, 8%);
$a: $primary-color;
$hover: $primary-color;
$color-overlay: transparentize($primary-color, 0.7);
$color-overlay-dark: transparentize($primary-color, 0.2);
$super-light: #f3f3f3;
$light: #fcfcfc;
$medium: #dadada;
$dark: #2F3238;
$dark-light: darken(#aaa, 20%);
